<div class="text-center">
  <h3><label class="label label-default">Ficheros de Entrada: {{distrib.name}}</label></h3>
</div>
<div class="col-md-12 text-center vert-offset-top-1">
  <div class="btn-group">
    <button class="btn btn-default" ng-class="{'btn-primary': d === distrib}" ng-repeat="d in distribuidoras" ng-click="changeDistrib($index)">{{d.alias|uppercase}}</button>
  </div>
</div>
<div class="col-md-12 text-center">
  <div class="btn-group">
    <button class="btn btn-default" ng-class="{'btn-primary': p === period}" ng-repeat="p in periodos" ng-click="changePeriod($index)">{{p.alias}}</button>
  </div>
</div>
<div class="col-md-12 text-center">
  <div class="btn-group">
    <label class="btn btn-default disabled">Omitir los siguientes tipos</label>
    <label class="btn btn-default" ng-repeat="(state,value) in omitTypes" ng-change="refreshTable()" ng-model="omitTypes[state]" uib-btn-checkbox>{{state}}</label>
  </div>
</div>
<div class="col-md-12 vert-offset-top-2 vert-offset-bottom-6">
  <div id="tableDiv">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Registro de entrada</h3></div>
      <div class="panel-body">
        <table ng-table="tableParams" class="table" show-filter="true">
          <tr ng-click="selectFile(file, $index)" ng-class="{selected: $index === idSelectedFile}" class="animate" ng-repeat="file in $data">
            <td title="'Nombre'" filter="{'filename': 'text'}" sortable="'filename'">
                <a ng-href="http://{{serverConfig.host}}:{{serverConfig.port}}/api/file/{{distrib.alias}}/{{distrib.code}}/inputFs/{{file.filename}}">{{file.filename}}</a>
            </td>
            <td title="'Tipo'" filter="{ 'type': 'text'}" sortable="'type'">
                {{file.type | uppercase}}
            </td>
            <td title="'Emisor'" filter="{ 'sourceParticipant': 'text'}" sortable="'sourceParticipant'">
                {{file.sourceParticipant | uppercase}}
            </td>
            <td title="'Fecha'" filter="{ uploadDate: 'text'}" sortable="'uploadDate'">
                {{file.uploadDate | date:"dd/MM/yyyy 'a las' HH:mm"}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
