<div ng-controller="DashboardCtrl">
  <div class="col-md-12 text-center">
    <h3 class="text-center"><label class="label label-default">Mostrando {{distrib.name}}</label></h3>
    <h4 class="text-center"><label class="label label-default">{{period.alias}}</label></h4>
    <button class="vert-offset-top-1 btn btn-default" ng-repeat="distrib in distribuidoras" ng-click="changeDistrib($index)">{{distrib.alias|uppercase}}</button>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-default" ng-repeat="period in periodos" ng-click="changePeriod($index)">{{period.alias}}</button>
  </div>
  <div class="vert-offset-top-1 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-title text-center"><h5>{{period.alias}}: Estado de ficheros</h5></div>
      <div class="panel-body">
        <canvas id="base" class="chart-base" chart-type="stateChartType" chart-colours="stateChartColours"
          chart-data="stateChartData" chart-labels="stateChartLabels" chart-legend="true">
        </canvas>
      </div>
    </div>
  </div>

  <div class="vert-offset-top-1 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-title text-center"><h5>{{period.alias}}: Evolución de estados</h5></div>
      <div class="panel-body">
        <canvas id="line" class="chart chart-line" chart-data="evolveStateChartData" chart-colours="evolveStateChartColours"
          chart-labels="evolveStateChartLabels" chart-legend="true" chart-series="evolveStateChartSeries"
          chart-click="onClick" >
        </canvas> 
      </div>
    </div>    
  </div>

  <div class="vert-offset-top-4 col-md-12 vert-offset-bottom-6">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Ficheros que requieren atención por distribuidora</div>
        <div class="panel-body">
          <div class="text-center">En construcción</div>
          <div class="list-group">
            <a href="#/atencion/distrib/{{distrib.codigo}}" class="list-group-item" ng-repeat="distrib in distribArray">{{distrib.nombre}}<span class="badge">{{distrib.reqAtencion}}</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Últimos ficheros de entrada</div>
        <div class="panel-body text-center">En construcción</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Últimas respuestas de REE</div>
        <div class="panel-body text-center">En construcción</div>
      </div>
    </div>
  </div>
</div>