<div ng-controller="DashboardCtrl">
  <div class="col-md-12 text-center">
    <h3 class="text-center"><label class="label label-default">Mostrando {{distrib.name}}</label></h3>
    <h4 class="text-center"><label class="label label-default">{{period.alias}}</label></h4>
    <button class="vert-offset-top-1 btn btn-default" ng-repeat="distrib in distribuidoras" ng-click="changeDistrib($index)">{{distrib.alias|uppercase}}</button>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-default" ng-repeat="period in periodos" ng-click="changePeriod($index)">{{period.alias}}</button>
  </div>
  <div class="vert-offset-top-1 col-md-6">
    <h3 class="text-center">{{period.alias}}: Estado de ficheros</h3>
    <canvas id="base" class="chart-base" chart-type="stateChartType" chart-colours="stateChartColours"
      chart-data="stateChartData" chart-labels="stateChartLabels" chart-legend="true">
    </canvas>
  </div>

  <div class="vert-offset-top-1 col-md-6">
    <h3 class="text-center">{{period.alias}}: Evolución de estados</h3>
    <canvas id="line" class="chart chart-line" chart-data="evolveStateChartData" chart-colours="evolveStateChartColours"
      chart-labels="evolveStateChartLabels" chart-legend="true" chart-series="evolveStateChartSeries"
      chart-click="onClick" >
    </canvas> 
  </div>

  <div class="vert-offset-top-4 col-md-12 vert-offset-bottom-6">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Ficheros que requieren atención por distribuidora</div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#/atencion/distrib/{{distrib.codigo}}" class="list-group-item" ng-repeat="distrib in distribArray">{{distrib.nombre}}<span class="badge">{{distrib.reqAtencion}}</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Ficheros que requieren atención por tipo</div>
        <div class="panel-body">
          <div class="list-group">
            <!--<a href="#/atencion/tipo/{{typeName}}" class="list-group-item" ng-repeat="(typeName,counter) in typeArrayPanel">{{typeName}}<span class="badge">{{counter}}</span></a>
            -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-title text-center">Ficheros que requieren atención por lo que sea</div>
        <div class="panel-body text-center">asdasd asdsda</div>
      </div>
    </div>
  </div>
</div>