<div>
  <div class="text-center">
    <h3><label class="label label-default">Sistema de Auditoría: {{distrib.name}}</label></h3>
  </div>
  <div class="col-md-12 text-center vert-offset-top-1">
    <div class="btn-group">
      <button class="btn btn-default" ng-class="{'btn-primary': d === distrib}" ng-repeat="d in distribuidoras" ng-click="changeDistrib($index)">{{d.alias|uppercase}}</button>
    </div>
  </div>
  <div class="col-md-12 filter_row">
    <div class="col-md-4 text-right">
      <label class="btn btn-default disabled">Omitir por tipo de fichero</label>
    </div>
    <div class="btn-group col-md-8">
      <label class="btn btn-default" ng-repeat="(type,value) in omitTypes" ng-change="refreshTable()" ng-model="omitTypes[type]" uib-btn-checkbox>{{type}}</label>
    </div>
  </div>
  <div class="col-md-12 filter_row">
    <div class="col-md-4 text-right">
      <label class="btn btn-default disabled">Omitir por estado final (Entrada)</label>
    </div>
    <div class="btn-group col-md-8">
      <label class="btn btn-default" ng-repeat="(state,value) in omitInputStates" ng-change="refreshTable()" ng-model="omitInputStates[state]" uib-btn-checkbox>{{state}}</label>
    </div>
  </div>
  <div class="col-md-12 filter_row">
    <div class="col-md-4 text-right">
      <label class="btn btn-default disabled">Omitir por estado final (Salida)</label>
    </div>
    <div class="btn-group col-md-8">
      <label class="btn btn-default" ng-repeat="(state,value) in omitOutputStates" ng-change="refreshTable()" ng-model="omitOutputStates[state]" uib-btn-checkbox>{{state}}</label>
    </div>
  </div>
  <div class="col-md-12 filter_row">
    <div class="col-md-4 text-right">
      <label class="btn btn-default disabled">Omitir por ficheros entrada/salida</label>
    </div>
    <div class="btn-group col-md-8">
      <label class="btn btn-default" ng-repeat="(state,value) in omitIO" ng-change="refreshTable()" ng-model="omitIO[state]" uib-btn-checkbox>{{state}}</label>
    </div>
  </div>



  <div ng-show="!loading" class="col-md-12 vert-offset-top-2 vert-offset-bottom-6">
    <div id="list" class="col-md-12 animate">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Registro de entrada</h3></div>
        <div class="panel-body">
          <table ng-table="tableParams" class="table" show-filter="true">
            <tr ng-click="selectFile(file, $index)" ng-class="{selected: $index === idSelectedFile,
                      'green': (inputStateColors['green'].indexOf(file.inputState) >= 0
                              || outputStates['ok'].indexOf(file.outputState) >= 0)
                              && file.revisado === false,
                      'darkgreen': file.revisado,
                      'yellow': inputStateColors['yellow'].indexOf(file.inputState) >= 0
                              || outputStates['pending'].indexOf(file.outputState) >= 0,
                      'red': inputStateColors['red'].indexOf(file.inputState) >= 0
                              || outputStates['error'].indexOf(file.outputState) >= 0
                              || outputStates['bad'].indexOf(file.outputState) >= 0
                    }" class="animate" ng-repeat="file in $data">
              <td style="vertical-align: middle;" title="'Nombre'" filter="{'filename': 'text'}" sortable="'filename'">
                <a title="{{file.filename}}" ng-href="http://{{serverConfig.host}}:{{serverConfig.port}}/api/file/{{distrib.alias}}/{{distrib.code}}/{{file.filename}}">{{file.filename}}</a>
              </td>
              <td style="vertical-align: middle;" title="'Refresco'" filter="{ creationDate: 'text'}" sortable="'creationDate'">
                {{file.creationDate | date:"dd/MM/yyyy 'a las' HH:mm"}}
              </td>
              <td style="vertical-align: middle;" title="'Ops'">
                <input-detail-audit
                  ng-if="isInput(file)"
                  file="file"
                  output-states="outputStates"
                  can-review-files-by-input-state="canReviewFilesByInputState"
                  can-review-files-by-type="canReviewFilesByType">
                </input-detail-audit>
                <output-detail-audit ng-if="isOutput(file)" file="file" output-states="outputStates"></output-detail-audit>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Timeline -->
    <custom-timeline id="timeline" filename="selectedFile.filename" data="auditData" ng-show="auditData" class="col-md-5" set-class-when-at-top="fix-to-top">
    </custom-timeline>
    <!-- END Timeline -->
  </div>



  <div ng-show="loading" class="col-md-12 vert-offset-top-6 vert-offset-bottom-2 text-center">
    <img src="images/loader.gif" />
    <p><strong>Procesando ficheros..</strong></p>
  </div>

</div>
